<div id="ys-app">

	<div id="ys-player-bar"></div><!-- #ys-player-bar -->

	<div id="ys-profiles">
		<ul id="ys-profiles-list">
			<li class="ys-profile-tile-medium"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-medium"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-large">
				<a href="#" class="ys-profile-tile-content">
					<div class="ys-profile-tile-info">
						<span>devinsupertramp</span>
					</div>
					<!-- .ys-profile-tile-info -->
					<div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><!-- .ys-profile-tile-door-1 -->
					<div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><!-- .ys-profile-tile-door-2 -->
					<div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><!-- .ys-profile-tile-door-3 -->
					<div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div><!-- .ys-profile-tile-door-4 -->
				</a>
				<!-- .ys-profile-tile-content -->
				<a class="ys-profile-action" href="#"></a><!-- .ys-profile-action -->
			</li>
			<li class="ys-profile-tile-medium"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-medium"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
			<li class="ys-profile-tile-small"><a href="#" class="ys-profile-tile-content"><div class="ys-profile-tile-info"><span>devinsupertramp</span></div><div class="ys-profile-tile-door-1"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-2"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-3"><img src="/assets/placeholders/avatar-test.png" /></div><div class="ys-profile-tile-door-4"><img src="/assets/placeholders/avatar-test.png" /></div></a><a class="ys-profile-action" href="#"></a></li>
		</ul>
	</div>
	<!-- #ys-profiles -->

	<div id="ys-page">
		<div id="ys-stats">
			<div id="ys-subs">
				<strong>1,413,925</strong> views
			</div>
			<!-- #ys-subs -->
			<ul id="ys-social-links">
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Tumblr</a></li>
				<li><a href="#">LinkedIn</a></li>
			</ul>
			<!-- #ys-social-links -->
			<br />
			<div id="ys-views">
				<strong>243,943,922</strong> subscribers
			</div>
			<!-- #ys-views -->
		</div>
		<!-- #ys-stats -->

		<div id="ys-player-controls">Player Controls</div><!-- #ys-player-controls -->

		<div id="ys-content">
			<a id="ys-logo" href="#"></a><!-- #ys-logo -->
			<div id="ys-header">devinsupertramp</div><!-- #ys-header -->
			<div id="ys-viewport" ng-view></div><!-- #ys-viewport -->
		</div>
		<!-- #ys-content -->
	</div>
	<!-- #ys-page -->

	<div id="ys-videos">
		<ul id="ys-videos-list">
			<li class="ys-video-tile">
				<a href="#" class="ys-video-info">
					<h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3>
					<h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4>
					<ul class="ys-video-actions">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<!-- .ys-video-actions -->
				</a>
				<!-- .ys-video-info -->
				<a href="#" class="ys-video-content">
					<h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3>
					<img src="/assets/placeholders/video-test.png" />
				</a>
				<!-- .ys-video-content -->
			</li>
			<!-- .ys-video-tile -->
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
			<li class="ys-video-tile"><a href="#" class="ys-video-info"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><h4>467,622 views&nbsp;&nbsp;|&nbsp;&nbsp;3 months ago</h4><ul class="ys-video-actions"><li>1</li><li>2</li><li>3</li></ul></a><a href="#" class="ys-video-content"><h3>Devinsupertramp Energy Drink - Makes the Ordinary Extraordinary!!!</h3><img src="/assets/placeholders/video-test.png" /></a></li>
		</ul><!-- #ys-videos-list -->
	</div>
	<!-- #ys-videos -->









































</div>
<!-- #ys-app -->




