@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Font Sizing
      - Media Size Breakpoints

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Font Sizing */
/************************************************/

$base-font-size: 13px;
$base-line-height: 20px;
@include establish-baseline;





$orange: #f77823;
$green: #0adc00;
$crimson: #f51e56;
$marigold: #f8be0f;
$aqua: #00a8df;
$teal: #07e1de;
$blue: #4771fa;
$red: #f34624;
$purple: #5c3ef1;




/* Media Size Breakpoints */
/************************************************/

@media (min-width: 1200px) {}							/* Large Viewport */
@media (min-width: 980px) and (max-width: 1199px) {}	/* Normal Viewport */
@media (min-width: 768px) and (max-width: 979px) {}		/* Tablet Viewport */
@media (min-width: 480px) and (max-width: 767px) {}		/* Phone Viewport */
@media (max-width: 480px) {}							/* Small Viewport */


/* Icon Font Names */
/************************************************/

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";



/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}


/* Body */
/************************************************/

body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	overflow: scroll;
	background: transparent url("/assets/placeholders/player-test.png") no-repeat center center;
	@include background-size(cover);
}

h1, h2, h3, h4, h5, h6 {}

strong { font-weight: 700; }
em { font-style: italic; }

p {}




/* Buttons */
/************************************************/










#ys-page {
	display: block;
	width: 100%;
	height: 100%;
	background: transparent url("/assets/screen-background.png") repeat 0 0;
}













#ys-stats {
	display: block;
	float: left;
	padding: 10px 0 0 0;
	#ys-subs,
	#ys-views {
		display: block;
		float: left;
		padding: 0 30px 0 10px;
		margin: 0 10px 10px 0;
		font-size: 26px;
		line-height: 42px;
		color: #ffffff;
		background: $teal;
		font-weight: 100;
		font-style: italic;
		strong {
			font-style: normal;
		}
	}
	ul#ys-social-links {
		display: block;
		float: left;
		margin: 0 0 10px 0;
		li {
			display: block;
			float: left;
			width: 45px;
			height: 45px;
			margin: 0 5px 0 0;
			a {
				display: block;
				float: left;
				width: 45px;
				height: 45px;
			}
		}
		li:nth-child(1) { background: $orange; }
		li:nth-child(2) { background: $green; }
		li:nth-child(3) { background: $crimson; }
		li:nth-child(4) { background: $marigold; }
		li:nth-child(5) { background: $aqua; }
		li:nth-child(6) { background: $red; }
		li:nth-child(7) { background: $blue; }
		li:nth-child(8) { background: $purple; }
		li:nth-child(9) { background: $teal; }
	}
}








#ys-player-bar {
	display: block;
	float: left;
	width: 100%;
	height: 3px;
	background: #fcc6d0;
}

#ys-stats {
	display: block;
	float: left;
	#ys-subs {
		display: block;
		float: left;
		height: 45px;
	}
	ul#ys-social-links {
		display: block;
		float: left;
		li {
			display: block;
			float: left;
			width: 45px;
			height: 45px;
		}
	}
	#ys-views {
		display: block;
		float: left;
		height: 45px;
	}
}


#ys-player-controls {
	display: block;
	float: right;
}




$ys-profile-tile-small-size:	70px;
$ys-profile-tile-medium-size:	150px;
$ys-profile-tile-large-size:	230px;


#ys-profiles {
	display: block;
	float: right;
	width: 250px;
	background: transparent url("/assets/background-black-33.png") repeat 0 0;
	ul#ys-profiles-list {
		display: block;
		float: left;
		width: 240px;
		padding: 10px 0 0 10px;
		li:nth-child(1n) a.ys-profile-tile-content { background: $orange; }
		li:nth-child(2n) a.ys-profile-tile-content { background: $green; }
		li:nth-child(3n) a.ys-profile-tile-content { background: $crimson; }
		li:nth-child(4n) a.ys-profile-tile-content { background: $marigold; }
		li:nth-child(5n) a.ys-profile-tile-content { background: $aqua; }
		li:nth-child(6n) a.ys-profile-tile-content { background: $red; }
		li:nth-child(7n) a.ys-profile-tile-content { background: $blue; }
		li:nth-child(8n) a.ys-profile-tile-content { background: $purple; }
		li:nth-child(9n) a.ys-profile-tile-content { background: $teal; }
		li.ys-profile-tile-small,
		li.ys-profile-tile-medium,
		li.ys-profile-tile-large {
			display: block;
			float: left;
			width: $ys-profile-tile-large-size;
			height: $ys-profile-tile-large-size;
			margin: 0 10px 10px 0;
			a.ys-profile-tile-content {
				display: block;
				float: left;
				width: $ys-profile-tile-large-size;
				height: $ys-profile-tile-large-size;
				color: #ffffff;
				position: absolute;
				overflow: hidden;
				.ys-profile-tile-info {
					display: block;
					float: left;
					width: $ys-profile-tile-large-size;
					height: $ys-profile-tile-large-size;
					position: absolute;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					display: block;
					float: left;
					width: ($ys-profile-tile-large-size / 2);
					height: ($ys-profile-tile-large-size / 2);
					position: absolute;
					overflow: hidden;
					@include transition-property(margin);
					@include transition-duration(0.33s);
					/*@include transition-delay(0.2s);*/
					img {
						display: block;
						float: left;
						width: $ys-profile-tile-large-size;
						height: $ys-profile-tile-large-size;
						position: absolute;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-large-size / 2);
					img { margin-left: -($ys-profile-tile-large-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-large-size / 2) 0 0 ($ys-profile-tile-large-size / 2);
					img {
						margin-left: -($ys-profile-tile-large-size / 2);
						margin-top: -($ys-profile-tile-large-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-large-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-large-size / 2);
					}
				}
			}
		}

		li.ys-profile-tile-medium {
			width: $ys-profile-tile-medium-size;
			height: $ys-profile-tile-medium-size;
			a.ys-profile-tile-content {
				width: $ys-profile-tile-medium-size;
				height: $ys-profile-tile-medium-size;
				.ys-profile-tile-info {
					width: $ys-profile-tile-medium-size;
					height: $ys-profile-tile-medium-size;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					width: ($ys-profile-tile-medium-size / 2);
					height: ($ys-profile-tile-medium-size / 2);
					img {
						width: $ys-profile-tile-medium-size;
						height: $ys-profile-tile-medium-size;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-medium-size / 2);
					img { margin-left: -($ys-profile-tile-medium-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-medium-size / 2) 0 0 ($ys-profile-tile-medium-size / 2);
					img {
						margin-left: -($ys-profile-tile-medium-size / 2);
						margin-top: -($ys-profile-tile-medium-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-medium-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-medium-size / 2);
					}
				}
			}
		}
		li.ys-profile-tile-small {
			width: $ys-profile-tile-small-size;
			height: $ys-profile-tile-small-size;
			a.ys-profile-tile-content {
				width: $ys-profile-tile-small-size;
				height: $ys-profile-tile-small-size;
				.ys-profile-tile-info {
					width: $ys-profile-tile-small-size;
					height: $ys-profile-tile-small-size;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					width: ($ys-profile-tile-small-size / 2);
					height: ($ys-profile-tile-small-size / 2);
					img {
						width: $ys-profile-tile-small-size;
						height: $ys-profile-tile-small-size;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-small-size / 2);
					img { margin-left: -($ys-profile-tile-small-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-small-size / 2) 0 0 ($ys-profile-tile-small-size / 2);
					img {
						margin-left: -($ys-profile-tile-small-size / 2);
						margin-top: -($ys-profile-tile-small-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-small-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-small-size / 2);
					}
				}
			}
		}
		li.ys-profile-tile-large:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-large-size / 2);
					margin-left: -($ys-profile-tile-large-size / 2);
					@include transition-delay(0);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-large-size / 2);
					margin-left: $ys-profile-tile-large-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-large-size;
					margin-left: $ys-profile-tile-large-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-large-size;
					margin-left: -($ys-profile-tile-large-size / 2);
					@include transition-delay(0);
				}
			}
		}
		li.ys-profile-tile-medium:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-medium-size / 2);
					margin-left: -($ys-profile-tile-medium-size / 2);
					@include transition-delay(0);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-medium-size / 2);
					margin-left: $ys-profile-tile-medium-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-medium-size;
					margin-left: $ys-profile-tile-medium-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-medium-size;
					margin-left: -($ys-profile-tile-medium-size / 2);
					@include transition-delay(0);
				}
			}
		}
		li.ys-profile-tile-small:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-small-size / 2);
					margin-left: -($ys-profile-tile-small-size / 2);
					@include transition-delay(0);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-small-size / 2);
					margin-left: $ys-profile-tile-small-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-small-size;
					margin-left: $ys-profile-tile-small-size;
					@include transition-delay(0);
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-small-size;
					margin-left: -($ys-profile-tile-small-size / 2);
					@include transition-delay(0);
				}
			}
		}
	}
}










#ys-videos {
	display: block;
	width: 100%;
	height: 125px;
	padding: 175px 0 0 0;
	position: absolute;
	bottom: -20px;
	overflow-x: scroll;
	background: transparent url("/assets/videos-background.png") repeat-x 0 0;
	ul#ys-videos-list {
		display: block;
		width: auto;
		height: 125px;
		white-space: nowrap;
		li:nth-child(1n) a.ys-video-info { background: $orange; }
		li:nth-child(2n) a.ys-video-info { background: $green; }
		li:nth-child(3n) a.ys-video-info { background: $crimson; }
		li:nth-child(4n) a.ys-video-info { background: $marigold; }
		li:nth-child(5n) a.ys-video-info { background: $aqua; }
		li:nth-child(6n) a.ys-video-info { background: $red; }
		li:nth-child(7n) a.ys-video-info { background: $blue; }
		li:nth-child(8n) a.ys-video-info { background: $purple; }
		li:nth-child(9n) a.ys-video-info { background: $teal; }
		li.ys-video-tile {
			display: inline-block;
			width: 240px;
			height: 135px;
			margin: 0 7px 0 0;
			white-space: normal;
			position: relative;
			@include transition-property(margin, bottom);
			@include transition-duration(0.2s);
			a.ys-video-info {
				display: block;
				float: left;
				width: 210px;
				height: 105px;
				padding: 15px;
				margin-top: -7px;
				color: #ffffff;
				text-decoration: none;
				@include transition-property(margin, bottom);
				@include transition-duration(0.2s);
				h3 {
					font-weight: 200;
					font-size: 18px;
					line-height: 24px;
					margin: 0 0 10px 0;
				}
				h4 {
					font-weight: 700;
					font-size: 10px;
					line-height: 20px;
					text-transform: uppercase;
				}
				ul.ys-video-actions {
					display: block;
					display: none;
					float: left;
					li {
						display: block;
						float: left;
						width: 20px;
						height: 20px;
					}
				}
			}
			a.ys-video-content {
				display: block;
				float: left;
				width: 240px;
				height: 135px;
				position: absolute;
				img {
					display: block;
					float: left;
					width: 240px;
					height: 135px;
				}
			}
		}
		li.ys-video-tile:hover {
			bottom: 40px;
			a.ys-video-info {
				margin-top: -135px;
			}
		}
	}
}







