@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Font Sizing
      - Media Size Breakpoints

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Buttons

  4.  Template Sections

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Font Sizing */
/************************************************/

$base-font-size: 13px;
$base-line-height: 20px;
@include establish-baseline;


/* Media Size Breakpoints */
/************************************************/

@media (min-width: 1200px) {}							/* Large Viewport */
@media (min-width: 980px) and (max-width: 1199px) {}	/* Normal Viewport */
@media (min-width: 768px) and (max-width: 979px) {}		/* Tablet Viewport */
@media (min-width: 480px) and (max-width: 767px) {}		/* Phone Viewport */
@media (max-width: 480px) {}							/* Small Viewport */


/* Icon Font Names */
/************************************************/

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";



/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {}


/* Body */
/************************************************/

body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {}

strong { font-weight: 700; }
em { font-style: italic; }

p {}




/* Buttons */
/************************************************/













#ys-player-bar {
	display: block;
	float: left;
	width: 100%;
	height: 3px;
	background: #fcc6d0;
}

#ys-stats {
	display: block;
	float: left;
	#ys-subs {
		display: block;
		float: left;
		height: 45px;
	}
	ul#ys-social-links {
		display: block;
		float: left;
		li {
			display: block;
			float: left;
			width: 45px;
			height: 45px;
		}
	}
	#ys-views {
		display: block;
		float: left;
		height: 45px;
	}
}


#ys-player-controls {
	display: block;
	float: right;
}




$ys-profile-tile-small-size:	70px;
$ys-profile-tile-medium-size:	150px;
$ys-profile-tile-large-size:	230px;


#ys-profiles {
	display: block;
	float: right;
	width: 250px;
	ul#ys-profiles-list {
		display: block;
		float: left;
		width: 240px;
		padding: 10px 0 0 10px;
		li.ys-profile-tile-small,
		li.ys-profile-tile-medium,
		li.ys-profile-tile-large {
			display: block;
			float: left;
			width: $ys-profile-tile-large-size;
			height: $ys-profile-tile-large-size;
			margin: 0 10px 10px 0;
			a.ys-profile-tile-content {
				display: block;
				float: left;
				width: $ys-profile-tile-large-size;
				height: $ys-profile-tile-large-size;
				color: #ffffff;
				background: #f51e56;
				position: absolute;
				overflow: hidden;
				.ys-profile-tile-info {
					display: block;
					float: left;
					width: $ys-profile-tile-large-size;
					height: $ys-profile-tile-large-size;
					position: absolute;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					display: block;
					float: left;
					width: ($ys-profile-tile-large-size / 2);
					height: ($ys-profile-tile-large-size / 2);
					position: absolute;
					overflow: hidden;
					@include transition-property(margin);
					@include transition-duration(0.33s);
					img {
						display: block;
						float: left;
						width: $ys-profile-tile-large-size;
						height: $ys-profile-tile-large-size;
						position: absolute;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-large-size / 2);
					img { margin-left: -($ys-profile-tile-large-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-large-size / 2) 0 0 ($ys-profile-tile-large-size / 2);
					img {
						margin-left: -($ys-profile-tile-large-size / 2);
						margin-top: -($ys-profile-tile-large-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-large-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-large-size / 2);
					}
				}
			}
		}

		li.ys-profile-tile-medium {
			width: $ys-profile-tile-medium-size;
			height: $ys-profile-tile-medium-size;
			a.ys-profile-tile-content {
				width: $ys-profile-tile-medium-size;
				height: $ys-profile-tile-medium-size;
				.ys-profile-tile-info {
					width: $ys-profile-tile-medium-size;
					height: $ys-profile-tile-medium-size;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					width: ($ys-profile-tile-medium-size / 2);
					height: ($ys-profile-tile-medium-size / 2);
					img {
						width: $ys-profile-tile-medium-size;
						height: $ys-profile-tile-medium-size;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-medium-size / 2);
					img { margin-left: -($ys-profile-tile-medium-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-medium-size / 2) 0 0 ($ys-profile-tile-medium-size / 2);
					img {
						margin-left: -($ys-profile-tile-medium-size / 2);
						margin-top: -($ys-profile-tile-medium-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-medium-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-medium-size / 2);
					}
				}
			}
		}
		li.ys-profile-tile-small {
			width: $ys-profile-tile-small-size;
			height: $ys-profile-tile-small-size;
			a.ys-profile-tile-content {
				width: $ys-profile-tile-small-size;
				height: $ys-profile-tile-small-size;
				.ys-profile-tile-info {
					width: $ys-profile-tile-small-size;
					height: $ys-profile-tile-small-size;
				}
				.ys-profile-tile-door-1,
				.ys-profile-tile-door-2,
				.ys-profile-tile-door-3,
				.ys-profile-tile-door-4 {
					width: ($ys-profile-tile-small-size / 2);
					height: ($ys-profile-tile-small-size / 2);
					img {
						width: $ys-profile-tile-small-size;
						height: $ys-profile-tile-small-size;
					}
				}
				.ys-profile-tile-door-2 {
					margin: 0 0 0 ($ys-profile-tile-small-size / 2);
					img { margin-left: -($ys-profile-tile-small-size / 2); }
				}
				.ys-profile-tile-door-3 {
					margin: ($ys-profile-tile-small-size / 2) 0 0 ($ys-profile-tile-small-size / 2);
					img {
						margin-left: -($ys-profile-tile-small-size / 2);
						margin-top: -($ys-profile-tile-small-size / 2);
					}
				}
				.ys-profile-tile-door-4 {
					margin: ($ys-profile-tile-small-size / 2) 0 0 0;
					img {
						margin-top: -($ys-profile-tile-small-size / 2);
					}
				}
			}
		}
		li.ys-profile-tile-large:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-large-size / 2);
					margin-left: -($ys-profile-tile-large-size / 2);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-large-size / 2);
					margin-left: $ys-profile-tile-large-size;
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-large-size;
					margin-left: $ys-profile-tile-large-size;
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-large-size;
					margin-left: -($ys-profile-tile-large-size / 2);
				}
			}
		}
		li.ys-profile-tile-medium:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-medium-size / 2);
					margin-left: -($ys-profile-tile-medium-size / 2);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-medium-size / 2);
					margin-left: $ys-profile-tile-medium-size;
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-medium-size;
					margin-left: $ys-profile-tile-medium-size;
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-medium-size;
					margin-left: -($ys-profile-tile-medium-size / 2);
				}
			}
		}
		li.ys-profile-tile-small:hover {
			a.ys-profile-tile-content {
				.ys-profile-tile-door-1 {
					margin-top: -($ys-profile-tile-small-size / 2);
					margin-left: -($ys-profile-tile-small-size / 2);
				}
				.ys-profile-tile-door-2 {
					margin-top: -($ys-profile-tile-small-size / 2);
					margin-left: $ys-profile-tile-small-size;
				}
				.ys-profile-tile-door-3 {
					margin-top: $ys-profile-tile-small-size;
					margin-left: $ys-profile-tile-small-size;
				}
				.ys-profile-tile-door-4 {
					margin-top: $ys-profile-tile-small-size;
					margin-left: -($ys-profile-tile-small-size / 2);
				}
			}
		}
	}
}


















