<div id="ys-home">

	<ul class="ys-home-tiles">
    <li class="ys-home-tile" ng-repeat="channel in channels">
      <a href="#/{{channel.author[0].name.$t}}"><img src="{{ channel.starsImage }}" /></a>
    </li><!-- #ys-home-tile -->
    <li class="ys-home-tile" ng-repeat="channel in channels">
      <a href="#/{{channel.author[0].name.$t}}"><img src="{{ channel.starsImage }}" /></a>
    </li><!-- #ys-home-tile -->
    <li class="ys-home-tile" ng-repeat="channel in channels">
      <a href="#/{{channel.author[0].name.$t}}"><img src="{{ channel.starsImage }}" /></a>
    </li><!-- #ys-home-tile -->
	</ul>
	<!-- .ys-home-tiles -->

	<img id="ys-home-logo" src="/assets/home-logo.png" /><br/>
	<div id="ys-home-search">
		<h1>Find a YouTube Star</h1><br />
		<h2>Start typing ...</h2><br />
		<input type="text" autofocus ng-keyup="goToChannel($event)"/>
	</div><!-- #ys-home-search -->

</div>
<!-- #ys-home -->




