<div id="ys-home">
	<ul class="ys-home-tiles">
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
		<li class="ys-home-tile"><a href="#"><img src="/assets/placeholders/avatar-test.png" /></a></li><!-- #ys-home-tile -->
	</ul>
	<!-- .ys-home-tiles -->

</div>
<!-- #ys-home -->




