<div id="ys-player-bar"></div><!-- #ys-player-bar -->

<mysubscribers></mysubscribers>

<div id="ys-page">
	<div id="ys-stats">
		<div id="ys-subs">
			<strong>1,413,925</strong> views
		</div>
		<!-- #ys-subs -->
		<ul id="ys-social-links">
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Tumblr</a></li>
			<li><a href="#">LinkedIn</a></li>
		</ul>
		<!-- #ys-social-links -->
		<br />
		<div id="ys-views">
			<strong>243,943,922</strong> subscribers
		</div>
		<!-- #ys-views -->
	</div>
	<!-- #ys-stats -->

	<div id="ys-player-controls">Player Controls</div><!-- #ys-player-controls -->

	<div id="ys-content">
		<a id="ys-logo" href="#"></a><!-- #ys-logo -->
		<masthead></masthead>
		<div id="ys-viewport"></div><!-- #ys-viewport -->
	</div>
	<!-- #ys-content -->
</div>
<!-- #ys-page -->

<myvideos></myvideos>