<div id="ys-player-bar">Player Bar</div><!-- #ys-player-bar -->

<div id="ys-stats">
	<div id="ys-subs">
		<strong>1,413,925</strong> subscribers
	</div>
	<!-- #ys-subs -->
	<ul id="ys-social-links">
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Instagram</a></li>
		<li><a href="#">Tumblr</a></li>
		<li><a href="#">LinkedIn</a></li>
	</ul>
	<!-- #ys-social-links -->
	<div id="ys-views">
		<strong>243,943,922</strong> subscribers
	</div>
	<!-- #ys-views -->
</div>
<!-- #ys-stats -->

<div id="ys-player-controls">Player Controls</div><!-- #ys-player-controls -->

<div id="ys-profiles">
	<ul>
		<li><a href="#">Profile 1</a></li>
		<li><a href="#">Profile 2</a></li>
		<li><a href="#">Profile 3</a></li>
		<li><a href="#">Profile 4</a></li>
		<li><a href="#">Profile 5</a></li>
	</ul>
</div>
<!-- #ys-profiles -->

<div id="ys-content">
	<div id="ys-header">Header </div><!-- #ys-header -->
</div>
<!-- #ys-content -->
<div id="ys-videos">Videos</div><!-- #ys-videos -->