<div id="ys-overlay" ng-show="showTutorial" ng-animate="'ys-overlay'" style="display: none">
	<a class="ys-overlay-close" ng-click="showTutorial = !showTutorial">Close Overlay</a>
	<h1>Helpful Hints</h1>
	<img id="ys-keyboard" src="/assets/keyboard.gif" ng-click="showTutorial = !showTutorial" />
</div>
<!-- #ys-overlay -->

<div id="ys-video-overlay" ng-show="showVideoRecommendations" ng-animate="'ys-overlay'" style="display: none">

	<a class="ys-overlay-close" ng-click="showVideoRecommendations = !showVideoRecommendations">Close Overlay</a>

	<h1>Video Recommendations</h1>

	<h2 ng-show="loggedIn">Recommended because these videos are <strong>custom picked by YouStars</strong> for you.</h2>
	<suggestedvideos ng-show="loggedIn"></suggestedvideos>

	<h2 ng-show="loggedIn">Recommended because <strong>you really love these videos</strong>.</h2>
	<mostwatchedvideos ng-show="loggedIn"></mostwatchedvideos>

	<h2>Recommended because these videos are <strong>currently trending</strong> across YouTube.</h2>
	<trendingvideos></trendingvideos>

	<h2>Recommended because these videos are <strong>unwatched YouTube Featured</strong> videos.</h2>
	<featuredvideos></featuredvideos>

</div>
<!-- #ys-video-overlay -->

<div id="ys-channel-overlay" ng-show="showChannelRecommendations" ng-animate="'ys-overlay'" style="display: none">

	<a class="ys-overlay-close" ng-click="showChannelRecommendations = !showChannelRecommendations">Close Overlay</a>

	<h1>Channel Recommendations</h1>

	<h2 ng-show="loggedIn">Recommended because these channels are <strong>custom picked by YouStars</strong> for you.</h2>
	<suggestedchannels ng-show="loggedIn"></suggestedchannels>

	<h2 ng-show="loggedIn">Recommended because these channels are <strong>similar to your channel</strong>.</h2>
	<mychannel ng-show="loggedIn"></mychannel>

	<h2 ng-show="loggedIn">Recommended because these channels are <strong>similar to channels you have recently watched</strong>.</h2>
	<similarrecentchannels ng-show="loggedIn"></similarrecentchannels>

	<h2 ng-show="loggedIn">Recommended because <strong>you have recently watched</strong> these channels.</h2>
	<recentchannels ng-show="loggedIn"></recentchannels>

	<h2>Recommended because these channels are similar to <strong>the current channel</strong> you're watching.</h2>
	<similarchannels></similarchannels>

	<h2>Recommended because these channels are the <strong>most subscribed channels</strong> on YouTube.</h2>
	<mostsubscribedchannels></mostsubscribedchannels>

	<h2>Recommended because these channels are the <strong>most viewed channels</strong> on YouTube.</h2>
	<mostviewedchannels></mostviewedchannels>


</div>
<!-- #ys-channel-overlay -->





<div id="ys-player"></div>  <!-- This div will become an iFrame for the YouTube player -->
<div id="ys-player-bar">
	<div class="ys-loading-bar"></div>
	<div id="ys-seek-bar"></div>

</div>
<!-- #ys-player-bar -->


<div id="ys-page">
  <stats></stats>

	<div id="ys-player-controls">
		<div class="ss-icon next">Skipforward</div>
		<div class="ss-icon pause">Pause</div>
		<div class="ss-icon previous">Skipback</div>
		<div class="volume-container">
			<div class="volume-indicator"></div>
      <input class="volume" type="range" name="volume" min="0" max="100" step="1" value="0">
		</div>
		<div class="mute-container">
			<div class="ss-icon ss-volume"></div>
			<div ng-show="muted" class="ss-icon ss-ban"></div>
		</div>
		<div class="video-info-container">
			<div class="duration-container">
				<div class="time-total">:00</div>
				<div class="time-passed">:00/</div>
			</div>
			<marquee class="video-title"></marquee>
		</div>
	</div>
	<!-- #ys-player-controls -->

	<ul id="ys-menu">
		<li class="ys-menu-item" ng-hide="loggedIn">
			<a href="/users/auth/google_oauth2">
				<span class="ys-menu-item-icon ss-icon ss-user"></span>
				<span class="ys-menu-item-label">Login to YouStars</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item">
			<a ng-click="showChannelModal()">
				<span class="ys-menu-item-icon ss-icon ss-tv"></span>
				<span class="ys-menu-item-label">Recommended Channels</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item">
			<a ng-click="showVideoModal()">
				<span class="ys-menu-item-icon ss-icon ss-video"></span>
				<span class="ys-menu-item-label">Recommended Videos</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item" ng-hide="loggedIn">
			<a href="/users/auth/google_oauth2">
				<span class="ys-menu-item-icon ss-icon ss-flag"></span>
				<span class="ys-menu-item-label">Claim This Channel</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item">
			<a href="#">
				<span class="ys-menu-item-icon ss-icon ss-search"></span>
				<span class="ys-menu-item-label">Search This Channel</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item">
			<a href="#">
				<span class="ys-menu-item-icon ss-icon ss-playfilm"></span>
				<span class="ys-menu-item-label">Search YouTube</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item" ng-show="loggedIn">
			<a href="/users/sign_out">
				<span class="ys-menu-item-icon ss-icon ss-door"></span>
				<span class="ys-menu-item-label">Log Out of YouStars</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
		<li class="ys-menu-item">
			<a ng-click="showTutorial = !showTutorial">
				<span class="ys-menu-item-icon ss-icon ss-help"></span>
				<span class="ys-menu-item-label">Helpful Hints</span>
			</a>
		</li>
		<!-- .ys-menu-item -->
	</ul>
	<!-- #ys-stats -->

	<div id="ys-content">
		<a id="ys-logo" href="#"></a><!-- #ys-logo -->
		<masthead></masthead>
		<div id="ys-viewport"></div><!-- #ys-viewport -->
	</div>
	<!-- #ys-content -->
</div>
<!-- #ys-page -->


<myvideos></myvideos>

<mysubscribers></mysubscribers>
